.filterCont {
    margin-bottom: 10px;
}

.searchButton {
    margin: 3px;
}

.filterButton {
    margin: 3px;
}

.card {
    height: 310px;
    width: 250px;
    max-height: 350px;
    margin: 5px;
    box-shadow: 3px;
}

.media {
    display: block;
    width: 250px;
    height: 310px;
}

.container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.container:hover .overlay {
    opacity: 0.9;
}

.text {
    color: white;
    font-size: 12px;
    position: absolute;
    top: 17%;
    left: 50%;
    max-height: 100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.noMovies {
    color: rgb(134, 134, 134);
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#upBtn {
    position: fixed;
    bottom: 10;
    right: 10;
    z-index: 99;
}